.vscode/                                                                                            
*.json                                                                                              
*.fasm                                                          
*.frames
*.bit
*.vcd
*_tb 